.columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 900px;
    margin: 0 auto;
    margin-top: 100px;
}

.columns_left, .columns_right {
    padding: 30px;
}
.columns_left {
   border-right: 1px solid rgba(0,0,0, .2);
}

.columns_right {

}